---
import '../styles/globals.css';
import Layout from '../layouts/Layout.astro';
import { getAllPosts } from '../lib/post';
import { Button } from '@/components/ui/button';
import { PostCard } from '@/components/PostCard';
import { ContributionHeatmap } from '@/components/ContributionHeatmap';

const posts = await getAllPosts();
---

<Layout>
  <div>
    <ContributionHeatmap posts={posts} client:load />
    <div class="mt-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        { posts.slice(0, 6).map(post => <PostCard post={post} />) }
      </div>
      <div class="flex justify-center my-4">
        <a href="/til/2">
          <Button>
            Read more
          </Button>
        </a>
      </div>
    </div>
  </div>
</Layout>
