---
import '../styles/globals.css'
import Layout from '../layouts/Layout.astro';
import { getAllPosts } from "../lib/post";
import { Card, CardDescription, CardHeader, CardTitle } from '@/components/ui/card';
import { Button } from "@/components/ui/button";

const posts = await getAllPosts();
---

<Layout>
	<>
		{
			posts.slice(0, 5).map((post) => {
				return (
					<Card className='hover:bg-accent my-5'>
						<a href={`/til/${post.slug}`}>
							<CardHeader>
								<CardTitle className='text-md'>{post.title}</CardTitle>
								<CardDescription>
									<div class="flex items-center">
										<div class="text-xs mr-2">{post.date}</div>
										{
											post.tags.map((tag) => (
												<div class="bg-slate-300 dark:bg-slate-500 rounded-full text-xs mx-1 py-1 px-2">
													{tag}
												</div>
											))
										}
									</div>
								</CardDescription>
							</CardHeader>
						</a>
					</Card>
				)
			})
		}
		<div class="flex justify-center my-4">
			<Button>
				<a href="/til/2">Read more</a>
			</Button>
		</div>
	</>
</Layout>
