---
import '../styles/globals.css'
import Layout from '../layouts/Layout.astro';
import { getAllPosts } from "../lib/post";
import { Button } from "@/components/ui/button";
import { PostCard } from '@/components/PostCard';

const posts = await getAllPosts();
---

<Layout>
	<>
		{ posts.slice(0, 5).map(post => <PostCard post={post} />) }
		<div class="flex justify-center my-4">
			<Button>
				<a href="/til/2">Read more</a>
			</Button>
		</div>
	</>
</Layout>
