---
import { Separator } from "@/components/ui/separator";
---

<footer class="text-center">
  <div>
    <div class="flex justify-center h-5 m-4 items-center space-x-4 text-sm">
      <a href="https://github.com/kmkkiii" target="_blank" class="hover:opacity-60">GitHub</a>
      <Separator orientation="vertical" />
      <a href="https://x.com/kmkkiii" target="_blank" class="hover:opacity-60">X</a>
      <Separator orientation="vertical" />
      <a href="https://qiita.com/kmkkiii" target="_blank" class="hover:opacity-60">Qiita</a>
      <Separator orientation="vertical" />
      <a href="https://zenn.dev/kmkkiii" target="_blank" class="hover:opacity-60">Zenn</a>
    </div>
    <Separator class="my-4" />
    <div class="my-4">
      <p class="text-sm text-muted-foreground">
        © 2024 kmkkiii
      </p>
    </div>
  </div>
</footer>
