---
import { Separator } from "@/components/ui/separator";
import { Button } from "@/components/ui/button";
---

<footer class="text-center">
  <div>
    <div class="flex justify-center h-5 m-4 items-center space-x-4 text-sm">
      <Button variant="link">
        <a href="https://github.com/kmkkiii" target="_blank">GitHub</a>
      </Button>
      <Separator orientation="vertical" />
      <Button variant="link">
        <a href="https://x.com/kmkkiii" target="_blank">X</a>
      </Button>
      <Separator orientation="vertical" />
      <Button variant="link">
        <a href="https://qiita.com/kmkkiii" target="_blank">Qiita</a>
      </Button>
      <Separator orientation="vertical" />
      <Button variant="link">
        <a href="https://zenn.dev/kmkkiii" target="_blank">Zenn</a>
      </Button>
    </div>
    <Separator className="my-4" />
    <div class="my-4">
      <p class="text-sm text-muted-foreground">
        © 2024 kmkkiii
      </p>
    </div>
  </div>
</footer>
