---
import { Rss } from 'lucide-react';
import { ModeToggle } from './ModeToggle';
import { Button } from '@/components/ui/button';

---

<header class="flex justify-between items-center mt-2">
  <a href="/til">
    <Button variant="ghost">
      <div class="font-semibold text-xl">Today I Learned.</div>
    </Button>
  </a>

  <div class="flex items-center gap-2">
    <ModeToggle client:load />
    <a href="/til/rss.xml">
      <Button variant="outline" size="icon">
        <Rss />
      </Button>
    </a>
  </div>
</header>
