---
import { Rss } from 'lucide-react';
import { ModeToggle } from './ModeToggle';
import { Button } from '@/components/ui/button';

---

<header class="flex justify-between items-center mt-2">
  <Button variant="ghost">
    <a href="/til" class="font-semibold text-xl">Today I Learned.</a>
  </Button>

  <div class="flex items-center gap-2">
    <ModeToggle client:load />
    <a href="/til/rss.xml">
      <Button variant="outline" size="icon">
        <Rss />
      </Button>
    </a>
  </div>
</header>
