---
import { ModeToggle } from "./ModeToggle";

---

<header class="flex justify-between items-center mt-2">
  <a href="/" class="font-semibold text-xl py-1 px-2 rounded-md hover:bg-accent">Today I Learned.</a>
  <ModeToggle client:load />
</header>
